@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Tilt+Neon&display=swap');

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

svg {
  margin: auto;
}

